.header {
    width: 100%;
    background-color: #257985;
    color: #FFFFFF;
    text-align: center;
    text-emphasis:initial;
    font-family: 'Times New Roman', Times, serif;
 }
 
 .body {
    background-color: #5EA8A7;
    color: #FFFFFF;
    padding: 2em;
     margin: 2em;
     border: 3px #FF4447;
     border-style: double;
     font-family: 'Times New Roman', Times, serif;
 }

 .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #257985;
    color: #FFFFFF;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
 }

 .button {
    margin: auto;
    width: 50%;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
 }

.redButton, .blueButton, .yellowButton {
   margin: auto;
   padding: 20px;
   font-family: 'Times New Roman', Times, serif;
}

 .redButton {
   background-color: red;
}

.blueButton {
   background-color: blue;
}

.yellowButton {
   background-color: yellow;
}

.navigationButton {
   position: relative;
   bottom: 20px;
   right: 10px;
}

 